html,
body {
  height: 100%;
  margin: 0;
}

.circle-button {
  border-radius: 50%; /* Make the button circular */
  padding: 0; /* Remove padding to make the image fit perfectly */
  width: 2.5rem; /* Set the desired width */
  height: 2.5rem; /* Set the desired height */
  overflow: hidden; /* Hide overflow content */
}

.icon {
  width: 100%; /* Make the image fill the button */
  height: auto; /* Maintain aspect ratio */
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.p-button-light {
  color: black;
  background: #ffffff;
  border: 1px solid black;
}

.p-button-light:hover {
  color: #05c;
  background: #e9f2ff;
  border: none;
}

.p-button-dark {
  color: white;
  background: #22272b;
  border: none;
}

.p-button-dark:hover {
  color: #05c;
  background: #092957;
  border: none;
}

.hover-item-light-effect:hover {
  /* Add your hover styles here */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  outline: 2px solid #579dff;
  background-color: #cce0ff !important;
}

.hover-item-dark-effect:hover {
  /* Add your hover styles here */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  outline: 2px solid #579dff;
  background-color: #09326c !important;
}

.datatable-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.datatable-container .p-datatable {
  width: calc(100% - 16px); /* Adjust for scrollbar width */
}

@media all and (min-width: 650px) {
  .main-menu-desktop-mode {
    display: block;
  }
  .main-menu-mobile-mode {
    display: none;
  }
}
@media all and (max-width: 649px) {
  .main-menu-desktop-mode {
    display: none;
  }
  .main-menu-mobile-mode {
    display: block;
  }
}
.p-dialog-mask #pr_id_2 .form__project .card__container {
  padding: 0.75rem !important;
}
.p-dialog-mask #pr_id_2 .form__project .card__container .card__item .p-checkbox {
  width: 35px !important;
  height: 35px !important;
}
.p-dialog-mask #pr_id_2 .form__project .card__container .card__item .p-checkbox .p-checkbox-box {
  width: 35px !important;
  height: 35px !important;
}
.p-dialog-mask #pr_id_2 .form__project .card__container .card__item:hover {
  border: 2px solid #579dff;
  background-color: #092957;
  border-radius: 0.5rem;
}

.ProjectUser #features .button__delete {
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 993px) {
  .ProjectUser #features .button__delete {
    top: 16px;
    right: 45px;
  }
}/*# sourceMappingURL=style.css.map */